h1 {
    font-style: italic;
}
form.form-control {
    height: 530px
}
form.form-control {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.651);
}
form.form-control label>h2 {
    font-weight: lighter;
}

form.form-control label {
    font-size: 20px;
    font-style: italic;
}
form.form-control div.especialidades-header>* {
    margin-right: 0.5em;
}
form.form-control div.especialidades-header>.btn {
    margin-bottom: 0.5em;
}